<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

<div class="no-results-icon"><svg><use xlink:href="#basic-food"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#basic-education"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#basic-transport"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#basic-housing"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#luxury-car"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#luxury-clothes"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#luxury-house"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#smartphone"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#start-button"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#wallet"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#cash-in-hand"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#cash-in-hand-x"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#cash"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#happy-face"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#sad-face"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#right-arrow"></use></svg></div>
<div class="no-results-icon"><svg><use xlink:href="#left-arrow"></use></svg></div>

<router-outlet></router-outlet>
