<div class="page-container d-flex align-items-center">
  <a><img src="assets/background.jpg" alt="pmskillshouse-logo-new" class="background" /></a>
  <div class="full-width">
    <div class="tile bottom-shadow">
      <div class="tile-body">
        <img src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="pmskillshouse-logo-new" border="0" class="center"/>
        <h1 class="budHeading">Budget Priority</h1>
      </div>
    </div>
  </div>
  <button class="start-button"><svg><use xlink:href="#start-button"></use></svg></button>
</div>

<router-outlet></router-outlet>

<!--<div class="no-results-icon"><svg><use xlink:href="#basic-food"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#basic-education"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#basic-transport"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#basic-housing"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#luxury-car"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#luxury-clothes"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#luxury-house"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#smartphone"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#start-button"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#wallet"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#cash-in-hand"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#cash-in-hand-x"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#cash"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#happy-face"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#sad-face"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#right-arrow"></use></svg></div>-->
<!--<div class="no-results-icon"><svg><use xlink:href="#left-arrow"></use></svg></div>-->
