<div id="home" class="section intro-page">
  <div class="block content-1170 center-relative center-text">
    <img class="top-logo" src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="Boxus" />
    <br>
    <p class="title-desc">Budget Priority</p>
    <br>
    <form>
    <div class="input-container">
      <input type="text" name="fullname" placeholder="Full Name" class="input"
             [(ngModel)]="person.fullName">
      <br>
      <div class="input-container">
        <input type="text" name="email" placeholder="Email / Phone Number" class="input"
               [(ngModel)]="person.contactDetails">
      </div>
    </div>
    <br>
    <button type="submit" (click)="submitAndStartGame()">Begin</button>
    </form>
  </div>
</div>