<div class="page-container d-flex align-items-center">
  <a><img src="assets/background.jpg" alt="pmskillshouse-logo-new" class="background" /></a>
  <div class="full-width">
    <div class="tile bottom-shadow">
      <div class="tile-body">
        <img src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="pmskillshouse-logo-new" border="0" class="center"/>
        <div class="full-width">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 offset-lg-6">
                <div class="tile-body sign-up-form">
                  <h3 class="signheading">Sign Up</h3>
                  <form name="signin" class="signinform">
                    <div class="input-container">
                      <input type="fullname" formControlName="fullname" name="fullname" placeholder="Full Name" class="input">
                      <div class="input-container">
                        <input type="email" formControlName="email" name="email" placeholder="Email / Phone Numer" class="input">
                      </div>
                    </div>
                    <button type="submit" href="gamepage">Begin</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>