<div class="page-container d-flex align-items-center">
  <a><img src="assets/background.jpg" alt="pmskillshouse-logo-new" class="background" /></a>
  <div class="full-width">
    <div class="tile bottom-shadow">
      <div class="tile-body">
        <img src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="pmskillshouse-logo-new" border="0" class="center"/>
        <div class="game-box">
          <h1 class="budHeading">{{wallet}}</h1>
          <button class="start-button1" (click)="buyFunction()">Buy</button>
          <button class="start-button2" (click)="dontBuyFunction()">Don't Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>