<div class="page-container d-flex align-items-center">
  <a><img src="assets/background.jpg" alt="pmskillshouse-logo-new" class="background" /></a>
  <div class="full-width">
    <div class="tile bottom-shadow">
      <div class="tile-body">
        <img src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="pmskillshouse-logo-new" border="0" class="center"/>
        <div class="game-box">
          <h1 class="budHeading">{{wallet}}</h1>
          <button class="start-button1" (click)="buyFunction()">Buy</button>
          <button class="start-button2" (click)="dontBuyFunction()">Don't Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tile-body">
  <h3>Sign in</h3>
  <h4>Access your account.</h4>
  <div class="tile-result-container">{{resultMessage}}</div>
  <form name="signin">
    <div class="input-container">
      <input type="email" formControlName="email" name="email" placeholder="Email">
      <div class="input-error">
        A valid email address is required.
      </div>
      <div class="input-icon">
        <svg><use xlink:href="#email-icon"></use></svg>
      </div>
    </div>
    <div class="input-container">
      <input type="password" formControlName="password" name="password" placeholder="Password">
      <div class="input-error">
        Your password is required.
      </div>
      <div class="input-icon">
        <svg><use xlink:href="#password-icon"></use></svg>
      </div>
    </div>
    <div class="small-text-container">
      <div class="small-text"><a routerLink="/reset">Forgot Password?</a></div>
      <div class="small-text"><a routerLink="/signup">Don't have an account yet?</a></div>
    </div>
    <button type="submit">Sign In</button>
  </form>
</div>