<!--<div class="page-container d-flex align-items-center">-->
  <!--<a><img src="assets/background.jpg" alt="pmskillshouse-logo-new" class="background" /></a>-->
  <!--<div class="full-width">-->
    <!--<div class="tile bottom-shadow">-->
      <!--<div class="tile-body">-->
        <!--<img src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="pmskillshouse-logo-new" border="0" class="center"/>-->
        <!--<h1 class="budHeading">Budget Priority</h1>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<a class="start-button" href="signuppage"><svg><use xlink:href="#start-button"></use></svg></a>-->
<!--</div>-->

<div id="home" class="section intro-page">
  <div class="block content-1170 center-relative center-text">
    <img class="top-logo" src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="Boxus" />
    <br>
    <h1 class="big-title">Furthering South Africa’s potential through<span>skills development and consumer education.</span></h1>
    <p class="title-desc">Budget Priority</p>
    <a class="start-button" href="signuppage"><svg><use xlink:href="#start-button"></use></svg></a>
  </div>
</div>