<div id="home" class="section intro-page">
  <div class="block content-1170 center-relative center-text">
    <img class="top-logo" src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="Boxus" />
    <br>
    <h1 class="big-title">Furthering South Africa’s potential through<span>skills development and consumer education.</span></h1>
    <p class="title-desc">Budget Priority</p>
    <a class="start-button" href="/#/signuppage"><svg><use xlink:href="#start-button"></use></svg></a>
  </div>
</div>