<div id="home" class="section intro-page">
  <div class="block content-1170 center-relative center-text">
    <img class="top-logo" src="https://i.ibb.co/DR5YwJ3/pmskillshouse-logo-new.png" alt="Boxus" />
    <br>
    <h2 class="title-desc">Results</h2>

    <table>
      <tr>
        <th>Wallet</th>
        <th>Item</th>
        <th>Buy / Not Buy</th>
        <th>Need / Want</th>
      </tr>
      <tr *ngFor="let decision of decisionList">
        <td>R{{ decision.walletValueAtThatTime }}</td>
        <td>{{ decision.item.name }} - R{{ decision.item.value }}</td>
        <td>{{ decision.wasBought ? "Purchased" : "Not Purchased" }}</td>
        <td>{{ decision.item.priority }}</td>
      </tr>
    </table>
    <a href="/#/homepage"><svg class="redosvg"><use xlink:href="#redo"></use></svg></a>
  </div>
</div>
